<h1>NEWS PAGE</h1>
<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolore eveniet, ipsam accusamus,
    aliquid provident consequatur cum, ratione obcaecati molestias dignissimos. Ducimus ad quia
    possimus explicabo esse harum vero tenetur!</span>